<html>
  <head>
  </head>
  <body>
    <iframe id="data-iframe" src="" title="secure"></iframe>
    <script>
      document.getElementById("data-iframe").contentWindow.location.href = "/data/{{ path }}/{{ token }}?{{ #if css }}css={{ css }}{{ /if }}{{ #if css and edit }}&{{ /if }}{{ #if edit }}edit={{ edit }}{{ /if }}";
    </script>
  </body>
</html>
